{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 80,
  "endOfLine": "lf"
}
